:root {
  --font-sans: system-ui, ui-sans-serif, sans-serif;
  --font-serif: 'Times New Roman', ui-serif, serif;
  --font-mono: 'Monaco', 'Cascadia Code', 'Consolas', ui-monospace, monospace;

  --width-max: min(100%, 1280px);
  --gap-page: 24px;
  --padding-page: max(calc((100% - var(--width-max)) / 2), var(--gap-page));
}

body {
  color: #333;

  line-height: 1;
  font-family: var(--font-sans);

  margin: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-weight: unset;
  margin-block: unset;
}

a {
  color: inherit;
  text-decoration: unset;

  &:hover {
    text-decoration: underline;
  }
}

ul,
ol,
dl {
  padding-inline-start: 2em;
  margin-block: unset;
}

pre {
  font-family: var(--font-mono);
  margin-block: unset;
}

code {
  font-family: var(--font-mono);
  font-size: inherit;
}
