:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding-inline: 16px;
  padding-block-end: 32px;

  color: #333;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-weight: normal;
  margin-block: 0;
}

a {
  color: inherit;
  text-decoration: unset;

  &:hover {
    text-decoration: underline;
  }
}

ul,
ol {
  margin-block: unset;
  padding-inline-start: 2em;
}

pre {
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.4;

  background-color: #00000016;
  padding: 8px;
  border-radius: 4px;
  margin-block: unset;
}
