:root {
  font-size: 18px;
  scrollbar-gutter: stable;
}

:root {
  --color-font: #333;
  --color-page: #fcfcfc;

  --font-sans: 'Segoe UI', ui-sans-serif, sans-serif, sans-serif;
  --font-mono: 'Monaco', 'Cascadia Code', 'Consolas', ui-monospace, monospace;
}

body {
  color: var(--color-font);
  background-color: var(--color-page);

  font-family: var(--font-sans);
  line-height: 1;

  margin: 0;
  padding-inline: 16px;
  padding-block-end: 48px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-weight: normal;
  margin-block: 0;
}

a {
  color: inherit;
  text-decoration: unset;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

ul,
ol {
  margin-block: unset;
  padding-inline-start: 2em;
}

pre {
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.4;
  padding: 16px;
  border-radius: 4px;
  margin-block: unset;
}

button {
  font-size: inherit;
  font-family: inherit;
}
